.btn {
	padding: 0.7em 2em;
	border: 1px solid $colorGrey;
	background: $colorWhite;
	transition: all 0.2s;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		cursor: default;
	}
}

.round-btn {
	border-radius: 30px;
}

.primary-btn {
	border: 1px solid $themeColor;
	color: $colorWhite;
	background: $themeColor;

	&:disabled {
		opacity: 0.6;
	}
}

.secondary-btn {
	border: 1px solid $themeColor;
	color: $themeColor;

	&:disabled {
		opacity: 0.6;
	}
}

.pill-btn-left,
.pill-btn-right {
	border: 1px solid $themeColor;
	color: $colorFont;
	transition: all 0.2s;

	&:hover {
		background: $themeColor;
		color: $colorWhite;
	}
}

.pill-btn-left,
.pill-option-left {
	border-radius: 30px 0 0 30px;
}

.pill-btn-right,
.pill-option-right {
	border-radius: 0 30px 30px 0;
}

.pill-option-left,
.pill-option-right {
	border: 1px solid $colorGrey;
	color: $colorFont;
	transition: all 0.2s;

	&:hover {
		background: $colorGreyHover;
	}
}

.single-option,
.single-pill-option {
	text-align: center;
	padding: 1em 2em;
	border: 1px solid $colorGrey;
	transition: all 0.2s;
	margin: 0.5em 0;

	&:hover {
		cursor: pointer;
		background: $colorGreyHover;
	}

	&.checked-option {
		background: $themeSelectColor;
		color: $colorWhite;
	}
}

.single-option {
	border-radius: 30px;
	min-width: 70%;

	&.disabled-option {
		background: $colorGreyHover;
		opacity: 0.6;
		cursor: default;
	}
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}
