.btn {
	padding: 0.7em 2em;
	border: 1px solid $colorGrey;
	background: $colorWhite;
	transition: all 0.2s;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		cursor: default;
	}
}

.round-btn {
	border-radius: 30px;
}

.primary-btn {
	border: 1px solid $themeColor;
	color: $colorWhite;
	background: $themeColor;

	&:disabled {
		opacity: 0.6;
	}
}

.secondary-btn {
	border: 1px solid $themeColor;
	color: $themeColor;
}
