.btn {
	padding: 1em 2em;
	border: 1px solid $colorGrey;
	background: $colorWhite;
	transition: all 0.2s;

	&:hover {
		cursor: pointer;
	}
}

.round-btn {
	border-radius: 30px;

	&:hover {
		background: $colorGreyHover;
	}
}
