@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.rmfi-container {
  font-family: 'Open Sans', sans-serif;
}

.rmfi-input {
  border: 1px solid #ecf0f1;
  padding: 1em 1.5em;
  border-radius: 0.2em;
  margin-top: 0.5em;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.rmfi-error {
  border-color: #e74c3c;
}

.rmfi-label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}